<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Randori jQuery QueryBuilder</title>

  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/docs.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/bootstrap-datepicker3.min.css" rel="stylesheet">
  <link href="css/bootstrap-slider.min.css" rel="stylesheet">
  <link href="css/selectize.bootstrap3.css" rel="stylesheet">
  <link href="css/bootstrap-select.min.css" rel="stylesheet">
  <link href="css/awesome-bootstrap-checkbox.css" rel="stylesheet">
  <link href="css/query-builder.dark.css" rel="stylesheet">

  <style>
    #content {
      background:#0074d9;
      background:linear-gradient(135deg, #0074d9, #001f3f);
    }
  </style>

  <script src="js/header/jquery-1.11.2.min.js"></script>
  <script src="js/header/bootstrap.js"></script>
  <script src="js/header/bootbox.js"></script>
  <script src="js/header/docs.min.js"></script>
  <script src="js/header/script.js"></script>
</head>

<body>
  <div class="bs-docs-header" id="content">
    <div class="container">
      <h1>Randori JQuery Querybuilder Demo</h1>
    </div>
  </div>
  
  <div class="container bs-docs-container">
    <div class="row">
      <div class="col-md-9" role="main">
        <p>Use each section of the page to generate queries for the specific Randori API Endpoint you will be using.<br> 
        Click the "Show rules JSON" button to trigger the validation and display the output as JSON to verify the rule content.<br>
        Click the "Show rules Base64" button to display the output as a Base64 string for use with the API.</p>

