

<section class="bs-docs-section clearfix">
  <h1 id="REPLACEME" class="page-header">
    API Endpoint: REPLACEME
  </h1>

  <div class="col-md-12">
    <div id="builder-REPLACEME"></div> 
    <div class="btn-group">
      <button class="btn btn-warning clear-rules" data-target="REPLACEME">Clear Rules</button>
      <button class="btn btn-info set-json" data-target="REPLACEME">Reset rules</button>
      <button class="btn btn-success show-json" data-target="REPLACEME">Show rules JSON</button>
      <button class="btn btn-primary show-base64" data-target="REPLACEME">Show rules Base64</button>
    </div>
  </div>
</section>
